@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose a Game</p>
    <a asp-controller="Home" asp-action="Blackjack">Blackjack</a>
    <a asp-controller="Home" asp-action="War">War</a>

</div>
